<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head.ejs') %>

  <body>
    <%- include('../include/nav.ejs') %>

    <div
      class="container d-flex justify-content-center align-items-center vh-100">
      <div class="">
        <% if (typeof message != "undefined") { %>
        <div
          class="alert alert-<%= message.class %> alert-dismissible fade show mb-3"
          role="alert">
          <p class="mb-0"><%= message.text %></p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"></button>
        </div>
        <% } %>
        <div class="card text-center shadow" style="width: 350px">
          <div class="card-header h5 text-white bg-primary">Password Reset</div>
          <div class="card-body px-5">
            <p class="card-text py-2">
              Enter your email address and we'll send you an email with
              instructions to reset your password.
            </p>
            <form action="/account/reset-password" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control shadow"
                  id="email"
                  placeholder=""
                  name="email"
                  required />
                <label for="email">Email address</label>
              </div>
              <button
                type="submit"
                class="btn btn-outline-primary w-100 shadow scale-min fs-5">
                <i class="fa fa-refresh me-2"></i>
                Reset
              </button>
            </form>
            <div class="d-flex justify-content-between mt-4">
              <a
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover scale-max"
                href="/account/login">
                Login
              </a>
              <a
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover scale-max"
                href="/account/register">
                Register
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/alert.js"></script>
  </body>
</html>
