<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head.ejs') %>

  <body>
    <%- include('../include/nav.ejs') %>

    <div class="container pt-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="card p-0 shadow">
            <div
              class="card-header d-flex align-items-center position-relative">
              <a
                href="/user"
                class="btn btn-outline-primary btn-sm shadow mt-3 scale-max position-absolute top-0">
                <i class="fa fa-arrow-left"></i>
                Back
              </a>
              <div class="d-inline text-center flex-grow-1">
                <h3 class="card-title"><%= product.name.toUpperCase() %></h3>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-7">
                  <img
                    src="/static/img/<%= product.image %>"
                    alt="<%= product.name %>"
                    class="img-fluid img-thumbnail rounded-5 scale-min shadow" />
                </div>
                <div class="col-md-5 mt-4">
                  <p>
                    <strong>Price:</strong> <%= product.price %>
                    <i class="fa fa-try"></i>
                  </p>
                  <p class="float-start">
                    <strong class="me-2">Description:</strong>
                    <%- product.description %>
                  </p>
                  <br />
                  <button class="btn btn-outline-primary shadow scale-max">
                    <i class="fa fa-shopping-cart"></i>
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
